<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TIC TAC TOE</title>
        {{> style}}
</head>
<h1 style="text-align: center; font-family: Impact,sans-serif;">TIC TAC TOE</h1>
<body>
    <table>
        <tr>
            <td class="cell" id="0"></td>
            <td class="cell" id="1"></td>
            <td class="cell" id="2"></td>
        </tr>
        <tr>
            <td class="cell" id="3"></td>
            <td class="cell" id="4"></td>
            <td class="cell" id="5"></td>
        </tr>
        <tr>
            <td class="cell" id="6"></td>
            <td class="cell" id="7"></td>
            <td class="cell" id="8"></td>
        </tr>
    </table>
    <div class="endgame">
        <div class="text"></div>
    </div>
    <button onClick="startGame()">Replay</button>

    <form method="POST" action="/savegame">
        <input type="submit" value="Save Game" onclick="saveGame()">
    </form>


    <button onClick="loadGame()">LoadGame</button>
    <form method="POST" action="/logout">
        <input type="submit" value="Logout">
    </form>

        {{> script}}
</body>
</html>